<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <title>Bibliothèque d'OCland</title>
</head>
<body>

<!-- MAIN GRID START -->
<div class="main-grid">

    <!-- Navigation bar-->
    <nav class="nav" th:if="${session.logged}">
        <ul>
            <li><a th:href="@{/home}">Accueil</a></li>
            <li><a th:href="@{/books/catalog}">Catalogue</a></li>
            <li><a th:href="@{/customers/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/logout}">Déconnexion</a></li>
        </ul>
    </nav>

    <!-- search box -->
    <section class="search-container">
        <div class="search-title">
            <h2>Rechercher dans le catalogue</h2>
        </div>
        <form class="search-box" method="post" th:action="@{/books/catalog/search}" th:object="${searchAttribut}">
            <div class="search-box__criteria">

                <select name="" th:field="*{criteria}" id="criteria">
                    <option th:value="title">Titre</option>
                    <option th:value="author">Auteur</option>
                </select>
            </div>
            <div class="search-box__form">
                <input type="text" th:field="*{searchValue}">
                <button><i class="fas fa-search"></i></button>
            </div>
        </form>
    </section>

    <!-- grid catalog -->
    <section class="catalog" th:if="${!books.isEmpty()}">
        <div class="catalog-item" th:each="book :${books}">
            <a th:href="@{'/books/catalog/book/' + ${book.id}}">
                <img th:src="${book.cover.url}" src="" alt="book-cover">
                <h2 class="book-title"><span th:text="${book.title}"></span></h2>
            </a>
        </div>
    </section>
    <div class="return-btn">
        <a th:href="@{/books/catalog}">
            Retour
        </a>
    </div>
    <section class="catalog" th:unless="${!books.isEmpty()}">
        <div class="catalog-item">
            <div th:text="${NoResult}" class="book-title">"Pas de Résultats"</div>
            <div class="return-btn">
                <a th:href="@{/books/catalog}">
                    Retour
                </a>
            </div>
        </div>
    </section>
</div>


</body>

</html>