<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <title>Home</title>
</head>
<body>
<!-- MAIN GRID START -->
<div class="main-grid">

    <!-- Navigation bar-->
    <nav class="nav" th:if="${session.logged}">
        <ul>
            <li><a th:href="@{/home}">Accueil</a></li>
            <li><a th:href="@{/books/catalog}">Catalogue</a></li>
            <li><a th:href="@{/customers/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/logout}">Déconnexion</a></li>
        </ul>
    </nav>
    <nav class="nav" th:if="${session.logged == null}">
        <ul>
            <li><a th:href="@{/home}">Accueil</a></li>

            <li><a th:href="@{/login}" >Connexion</a></li>
        </ul>
    </nav>


    <!-- Main Home container -->
    <section class="top-container">
        <header class="top-container__showcase">
            <h1>Bibliothèque d'OCland
                <hr>
            </h1>

            <p>
                Bienvenue sur le site officiel de la  bibliothèque d'OCland.
                Vous trouverez dans notre catalogue tous les livres qu'il est possible d'emprunter dans notre bibliothèque et la possibilité de gérer vos emprunts depuis votre dashboard.
            </p>
        </header>
    </section>

    <!-- Footer -->
    <footer>
        <!-- Start: Links -->
        <ul>
            <li><a href="#">Accessibilité</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Nous contacter</a></li>
        </ul>
        <!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">Bibliothèque d'OCland © 2020</p>
        <!-- End: Copyright -->
    </footer>
</div>
<!-- MAIN GRID END -->

<!-- <div th:insert="fragments/fragments.html :: footer" class="footer"></div>
 <div th:insert="fragments/fragments.html :: script"></div>-->

</body>
</html>