<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet"  href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <title>Login</title>
</head>
<body>

<div class="form-grid">
    <div class="form-container">
        <form class="login-form" method="post" th:action="@{/login}" th:object="${user}">
            <img src="../static/image/logo-library.png" th:src="@{${'/image/logo-library.png'}}" alt="Logo" class="login-form__logo">
            <a th:href="@{/home}">
                <h2>
                    <i class="fa fa-home" aria-hidden="true"></i> &nbsp; Bibliothèque d'ocland
                </h2>
            </a>
            <input type="text" name="email" id="email" placeholder="Email" th:field="*{username}" required="true">
            <input type="password" name="password" id="password" placeholder="Mot de passe" th:field="*{password}" required="true">
            <input type="submit" value="Connexion" class="login-form__btn">
        </form>
    </div>
</div>

</body>

</html>